/*------------ Universal selector */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', 'News Cycle', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*------------ Nav-bar */

.navbar-nav-right {
    float: right;
}

.navbar {
    margin-top: -25px;
}

/*------------ Automated typing */
.box-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
}


/*------------ Carousel with slides */

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-bg-1 {
    background-image: url('https://cdn.pixabay.com/photo/2017/03/14/16/56/banner-2143726_1280.jpg');
}

.carousel-bg-2 {
    background-image: url('https://cdn.pixabay.com/photo/2022/08/29/14/30/black-7419024_1280.jpg');
}

.carousel-bg-3 {
    background-image: url('https://cdn.pixabay.com/photo/2021/08/18/19/23/background-6556393_1280.jpg');
}

/* --------------------------Blog-container */

/* Add a background color to the container */
.blog-container {
    background-color: #ffffff;
}

/* Style the cards within the grid */
.card {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #cccccc;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

/* Style the card image */
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Style the card title */
.card-title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

/* Style the card text */
.card-text {
    font-size: 18px;
    line-height: 1.5;
    color: #777777;
    margin-bottom: 20px;
}

/* Style the post link */
.post-link {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

/* Style the author and date text */
.author,
.text-muted {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

/* Style the heart icon */
.fa-heart {
    color: #ff0000;
}

/* Style the pagination buttons */
.pagination a {
    background-color: #ffffff;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Add hover effect to pagination buttons */
.pagination a:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Add hover effect to post links */
.post-link:hover {
    text-decoration: none;
    color: #534d4d;
}

/* Add hover effect to card */
.card:hover,
.card-blog,
.card-search {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px #cccccc;
}

/* Add hover effect to card-img-top */
.card-img-top {
    transition: all 0.5s ease-in-out;
}

.card-img-top:hover {
    filter: brightness(80%);
    transition: all 0.5s ease-in-out;
}

/* ----------------Recent blog posts on home page */

.post-row {
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.recent-post {
    flex: 0 0 auto;
    margin-right: 0.3rem;
    margin-right: 0.3rem;
}

/*------------ Social links for blogs */
.social-link {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.social-link:hover {
    transform: scale(1.2);
}

/*------------ Post form width */

#id_title,
#id_slug,
#id_author,
#id_featured_image,
#id_excerpt,
#id_content,
#id_status,
#id_likes {
    width: 100%;
}

/*------------ Message-margin on the search page */
.message-margin {
    margin: 80%;
}

/*------------ Links */

a {
    text-decoration: none;
}

img.mb-3 {
    height: 100px;
}

/* Add the parallax CSS use parallax-section as class*/
.parallax-section {
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2022/08/29/14/30/black-7419024_1280.jpg");

    padding: 30px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------------ Input field and label */

input#id_login,
input#id_username,
input#id_email,
input#id_password1,
input#id_password2,
input#id_password {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    transition: border-color 0.3s;
    padding-left: 3px;
    padding-right: 3px;
}

.signup label {
    display: inline-block;
    width: 150px;
    /* Set a fixed width for the labels */
}

.signup input {
    display: inline-block;
}

/*------------ Media queries */

@media (max-width: 769px) {
    .navbar-nav-right {
        float: none;
    }
}

@media (min-width: 1024px) {
    .post-row {
        white-space: nowrap;
        overflow-x: hidden;
    }

    .recent-posts:hover .post-row {
        overflow-x: scroll;
    }

}

@media only screen and (max-width: 600px) {
    .recent-post {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    .card {
        width: 100%;
    }
}

@media only screen and (min-width: 767px) {
    .navbar-nav-right {
        float: none !important;
    }
}