{% extends 'base.html' %}
{% load static %}
{% block title_tag %} About {% endblock %}

{% block content %}

<br>
<div class="container">
    <h1 class="text-uppercase">About</h1>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="text-muted">
            <p>Welcome to my travel blog, where I share experiences and insights about the most incredible places
                to visit, the tastiest foods to try, and the best restaurants to dine at. My goal is to inspire you to
                discover new destinations, taste new cuisines, and explore the world in a unique and memorable way.</p>

            <p>Whether you're a seasoned traveler or just planning your first trip, I aim to provide you with valuable
                information and tips to help make your travels more enjoyable and stress-free..</p>

            <p>I believe that travel is not just about visiting beautiful places, but also about immersing oneself in
                different cultures and experiencing the local way of life. This is why I write about the best places to
                visit, the best hotels to stay, the best local dishes to try, and the most authentic restaurants to dine at.</p>

            <p>So, come along with me on this journey, and discover the world through my eyes. I hope you enjoy
                reading my blog and that it inspires you to plan your next adventure.</p>
        </div>
    </div>
</div>
{% endblock %}