{% extends 'base.html' %}
{% block title_tag %} Contact {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block script %}
{{ block.super }}
<!-- Additional JavaScript for night mode -->
<script src="{% static 'js/dayNight.js' %}"></script>
{% endblock script %}
{% block content %}

<br>
<div class="container">
    <h1 class="text-uppercase animate__animated animate__fadeIn">Contact Form</h1>
</div>

<!--Contact form -->
<section class="container mt-4 text-center w-50">
    <div class="row">
        <form id="contact-form" class="form-horizontal text-muted" method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="btn btn-outline-dark mt-4 mb-3" id="submit" type="submit" value="SEND">
                <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
            </button>
        </form>
    </div>
</section>




{% endblock %}