{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Slogan -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-3">
            <div class="text-center">
                <h1>Travel, Eat, Repeat!</h1>
                <p>This food and travel blog will inspire you to pack your bags and explore the world. From exotic
                    destinations to hidden culinary treasures, we'll take you on a journey you won't forget. Join us and
                    discover the world one delicious bite at a time.</p>
            </div>
        </div>
    </div>
</div>

<header>
    <!-- Carousel with slides -->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active carousel-bg-1">
                <div class="carousel-caption">
                    <h5>Lao Tzu</h5>
                    <p>"The journey of a thousand miles begins with a single step."</p>
                </div>
            </div>
            <div class="carousel-item carousel-bg-2">
                <div class="carousel-caption">
                    <h5>J.R.R. Tolkien</h5>
                    <p>"Not all those who wander are lost."</p>
                </div>
            </div>
            <div class="carousel-item carousel-bg-3">
                <div class="carousel-caption">
                    <h5>Saint Augustine</h5>
                    <p>"The world is a book, and those who do not travel read only a page."</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>

<!-- Automated typing -->
<section class="container mb-5 mt-5">
    <div class="p-4 bg-dark bg-gradient text-white rounded">
        <p class="type-script">Welcome {{ request.user.username }} to Guided Blog! Plan ahead and research your
            destination to make the most of your trip. Don't forget to pack essentials like sunscreen, comfortable
            shoes, and a reusable water bottle. Consider traveling during off-peak seasons to save money and avoid
            crowds. And always make sure to have travel insurance.</p>
    </div>
</section>

<!-- Recent blog posts -->
<div class="container-fluid recent-posts blog-container">
    <div class="text-center mb-3">
        <h2>Recent Posts</h2>
    </div>
    <div class="post-row">
        {% for post in recent_posts %}
        <div class="recent-post card mb-3">
            <img class="card-img-top" src="{{ post.featured_image.url }}" alt="blog post image">
            <div class="card-body">
                <h3 class="card-title text-center">
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">{{ post.title }}</a>
                </h3>
                <div class="author text-muted">
                    by {{ post.author }}
                </div>
                <a href="{% url 'category' post.category %}" class="post-link">
                    <p class="card-text text-muted small">Category: {{ post.category }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Intro About Me -->
<div class="container mb-5 mt-5 text-center">
    <div class="col mt-4">
        <div class="p-4 bg-dark bg-gradient text-white rounded">
            <p>
                <a class="btn btn-outline-light mt-3" data-bs-toggle="collapse" href="#collapseExample" type="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Intro About Me
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="row">
                    <div class="col mt-4">
                        <img src="{% static 'images/avatar.png' %}" alt="avatar" height="100rem" class="mb-3">
                        <h3>Hello, I am Stan</h3>
                    </div>
                    <div class="card-body">
                        <p>I am the owner and creator of this website. I have always had a passion for exploring new
                            places and
                            trying new foods, and I'm excited to share that passion with you.
                            Through this blog, I aim to take you on a journey to some of the most delicious and unique
                            destinations around the world. From street food to fine dining, I'll be sharing my personal
                            experiences and recommendations to help you plan your next culinary adventure.
                            I believe that food is one of the most powerful ways to connect with different cultures and
                            people.
                            Whether you're a traveler looking to explore new places, or a food lover seeking inspiration
                            for
                            your next meal, I hope this blog will inspire you to get out and see the world.
                            So come along for the ride, and let's discover the world one plate at a time!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Travel Gallery -->
<div class="container mb-5">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Travel Gallery</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start">

        <div class="col-lg-3 col-md-4 col-6">

            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/oCdVtGFeDC0/400x300"
                alt="travel image">

        </div>
        <div class="col-lg-3 col-md-4 col-6">

            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/tQpypKA92k8/400x300"
                alt="travel image">

        </div>
        <div class="col-lg-3 col-md-4 col-6">

            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/T7K4aEPoGGk/400x300"
                alt="travel image">

        </div>
        <div class="col-lg-3 col-md-4 col-6">

            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2K2SR19RLg8/400x300"
                alt="travel image">

        </div>
        <div class="col-lg-3 col-md-4 col-6">

            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/Dw-0Sic6dgU/400x300"
                alt="travel image">

        </div>
        <div class="col-lg-3 col-md-4 col-6">

            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/iP8ElEhqHeY/400x300"
                alt="travel image">

        </div>
        <div class="col-lg-3 col-md-4 col-6">

            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/3zkGcVRjPBU/400x300"
                alt="travel image">

        </div>
        <div class="col-lg-3 col-md-4 col-6">

            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/hFXZ5cNfkOk/400x300"
                alt="travel image">

        </div>

    </div>

</div>

{% endblock %}