{% extends 'base.html' %}
{% block title %} Edit Blog Post {% endblock %}

{% block content %}

{% if request.user.is_superuser %}
<br>
<div class="container animate__animated animate__fadeIn">
    <h1>Update Blog Post</h1>
</div>

<!--Container Update Blog Post-->
<br>
<div class="container p-3 mb-3 ">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field }}
                {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-outline-dark mb-5 mt-4" type="submit">Update</button>
    </form>
</div>
{% endif %}





{% endblock %}